*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $font-primary;
}

body {
  background-color: $color-primary-shade;
  color: $color-font-dark;
}

img {
  font-size: 1.2rem;
  object-fit: cover;
  object-position: center;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: $color-font-dark;
}

:focus {
  outline: 2px solid $color-font-active;
}
