*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $font-primary;

  @media only screen and (max-width: $bp-larger) {
    font-size: 50%;
  }
}

body {
  background-color: $color-primary-shade;
  color: $color-font-dark;
}

img {
  font-size: 1.2rem;
  object-fit: cover;
  object-position: center;
}

div {
  background-size: cover;
  background-position: center;
}

ul {
  list-style: none;
}

button {
  border-radius: 2px;
  border: 1px solid $color-font-grey-light;
  background-color: transparent;

  font-family: inherit;
  color: inherit;
}

a p {
  transition: all 0.05s;
}

a:link,
a:visited {
  text-decoration: none;
  color: $color-font-dark;
}

:focus {
  outline: 2px solid $color-secondary-shade;
}
