// MAIN LAYOUT CONTAINER ------------------------------------
.container {
}

// HEADER & TOP NAV -----------------------------------------
.header {
  z-index: 1000;
  position: fixed;

  height: 9rem;
  width: 100%;
  background-color: $color-primary-tint;
  box-shadow: $bax-shadow-medium-bottom;
}

// SECTIONS ---------------------------------------------------
.section {
  padding: 8rem 1.6rem;

  &--today {
    grid-column: 1 / -1;

    padding: 0;
    background-color: $color-secondary;
  }

  &--popular {
    grid-column: 1 / -1;

    margin: 2rem 0 0;
    padding-bottom: 8rem;

    background-color: $color-primary;
    box-shadow: $box-shadow-small-top;
  }

  &--sale {
    grid-column: 1 / -1;

    padding-top: 4.8rem;

    background-color: $color-primary;
  }

  &--seasonal {
    grid-column: 1 / -1;

    padding-top: 4.8rem;
    margin-bottom: 9.6rem;

    background-color: $color-primary;
    box-shadow: $bax-shadow-small-bottom;
  }

  &--review {
    grid-column: 2 / span 1;

    padding: 4.8rem;

    background-color: $color-primary;
    box-shadow: $bax-shadow-small-bottom;
  }

  &--contact {
    grid-column: 2 / span 1;

    padding: 4.8rem;
    margin: 2rem 0 0;
    column-gap: 3.2rem;

    background-color: $color-primary;
    box-shadow: $bax-shadow-small-bottom;
  }

  &--introduction {
    grid-column: 2 / span 1;
  }
}

// SECTION CONTAINER ----------------------------------------
.section__container {
  width: 100%;
  max-width: 120rem;
  padding: 0 1.6rem;

  &--header {
  }

  &--nav {
    width: auto;
  }

  &--today {
    align-content: start;
    align-itrems: center;
    justify-content: start;
    grid-tremplate-rows: max-content 1fr;

    column-gap: 4.8rem;
  }

  &--popular {
    padding-bottom: 3.6rem;
    border-bottom: 2px solid $color-secondary;
  }

  &--sale {
  }
}

// FOOTER ---------------------------------------------------
.footer {
  background-color: $color-secondary-shade;
}
