// CATALOGUE CONTAINER -----------------------------------
.catalogue__list {
  //

  &--today {
    column-gap: 2.4rem;

    margin: 0 2.4rem 3.2rem 0;

    .catalogue__price {
      font-weight: 600;
    }
  }

  &--sale {
    column-gap: 3.6rem;
    margin: 0 3.6rem;
  }

  &--popular {
    column-gap: 2.4rem;
    padding-right: 4.8rem;

    border-right: 2px solid $color-secondary-lightest;
  }

  &--popular-card {
    gap: 1.2rem;
    padding-left: 2.4rem;
  }
}

.catalogue__list {
}

// CATALOGUE CONTENT -------------------------------------
.catalogue {
  //

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: start;

    border-radius: 1px;
    padding: 0.1rem;

    &:link,
    &:visited {
      color: $color-font-dark;
    }

    &:hover,
    &:active {
      color: inherit;

      .catalogue__name {
        text-decoration: underline;
      }

      .catalogue__price {
      }
    }
  }

  &__img {
    width: 100%;
    border-radius: 2px;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1.2rem;
    height: 100%;
  }

  &__name {
    font-size: $font-size-tiny;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }

  &__price {
    margin-top: 0.1rem;

    font-size: $font-size-small;
    font-weight: 500;
    text-align: center;
  }

  &__discount {
    text-transform: lowercase;
    font-size: $font-size-tiny;
    color: $color-font-grey-dark;

    span {
      color: $color-font-complement;
      text-decoration: line-through;
    }
  }
}

// CARD CATALOGUE CONTENT -----------------------------------
.catalogue {
  //

  &__item--card {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    border-radius: 1px;
    padding: 0.1rem;
    font-size: $font-size-smaller;

    &:hover,
    &:active {
      //

      .catalogue__name--card {
        text-decoration: underline;
        color: $color-font-grey-dark;
      }

      .catalogue__price--card {
        color: $color-font-grey-dark;
      }
    }
  }

  &__name--card {
    text-transform: capitalize;
  }

  &__price--card {
    text-align: right;
    font-size: $font-size-small;
    font-weight: 600;
    line-height: 0.9;
  }

  &__text--card {
    position: absolute;
    right: 0.5rem;
    bottom: 0.2rem;
  }
}
