// CATALOGUE CONTAINER -----------------------------------
.catalogue__list {
  //

  &--today {
    column-gap: 2.4rem;

    margin: 0 2.4rem 3.2rem 0;

    @media only screen and (max-width: $bp-medium) {
      margin-right: 0;
    }

    @media only screen and (max-width: $bp-medium) {
      column-gap: 1.2rem;
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr 1fr !important;
      row-gap: 2.4rem;
      max-width: 48rem;

      margin: 0 auto;
    }

    .catalogue__price {
      font-weight: 600;
    }
  }

  &--popular {
    column-gap: 3.6rem;
    row-gap: 2.4rem;

    border-right: 2px solid $color-secondary-lightest;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr 1fr !important;
    }

    @media only screen and (max-width: $bp-small) {
      max-width: 48rem;
      margin: 0 auto;
    }
  }

  &--popular-card {
    gap: 1.2rem;
    padding: 2.4rem;

    @media only screen and (max-width: $bp-medium) {
      padding: 2.4rem 1.2rem;
      gap: 1.2rem;
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr 1fr 1fr !important;

      max-width: 48rem;
      margin: 0 auto;
    }

    @media only screen and (max-width: $bp-smaller) {
      grid-template-columns: 1fr 1fr !important;
      max-width: 32rem;
    }
  }

  &--sale {
    column-gap: 1.8rem;

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr 1fr !important;
      row-gap: 1.8rem;

      padding-bottom: 3.2rem;

      max-width: 48rem;
      margin: 0 auto;
    }
  }
}

.catalogue__list {
}

// CATALOGUE CONTENT -------------------------------------
.catalogue {
  //

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: start;

    border-radius: 1px;
    padding: 0.1rem;

    &:hover,
    &:active {
      //

      .catalogue__name {
        text-decoration: underline;
        color: $color-font-grey-dark;
      }

      .catalogue__price {
        color: $color-font-grey-dark;
      }
    }
  }

  &__img {
    width: 100%;
    border-radius: 2px;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1.2rem;
    height: 100%;
  }

  &__name {
    font-size: $font-size-tiny;

    text-transform: capitalize;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.03em;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__price {
    margin-top: 0.1rem;

    font-size: $font-size-small;
    font-weight: 500;
    text-align: center;
  }

  &__discount {
    text-transform: lowercase;
    font-size: $font-size-tiny;
    color: $color-font-grey-dark;

    span {
      color: $color-font-complement;
      text-decoration: line-through;
    }
  }
}

// CARD CATALOGUE CONTENT -----------------------------------
.catalogue {
  //

  &__item--card {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    font-size: $font-size-smaller;

    border-radius: 1px;
    border: 2px solid $color-secondary;

    &:focus,
    &:hover,
    &:active {
      //

      .catalogue__name--card {
        text-decoration: underline;
        color: $color-secondary-shade;
      }

      .catalogue__price--card {
        color: $color-secondary-shade;
      }
    }
  }

  &__name--card {
    text-transform: capitalize;
    text-shadow: -1px 0 0 $color-white, 1px 0 0 $color-white,
      0 -1px 0 $color-white, 0 1px 0 $color-white, -1px -1px 0 $color-white,
      -1px 1px 0 $color-white, 1px -1px 0 $color-white, 1px 1px 0 $color-white;
  }

  &__price--card {
    font-size: $font-size-small;
    font-weight: 600;
    line-height: 0.9;

    text-shadow: -1px 0 0 $color-white, 1px 0 0 $color-white,
      0 -1px 0 $color-white, 0 1px 0 $color-white, -1px -1px 0 $color-white,
      -1px 1px 0 $color-white, 1px -1px 0 $color-white, 1px 1px 0 $color-white;
  }

  &__text--card {
    text-align: right;
    position: absolute;
    width: calc(100% - 1rem);
    margin: 0 0.5rem;
    right: 0;
    bottom: 0.2rem;

    white-space: nowrap;
    overflow: hidden;
    // text-overflow: ellipsis;
  }
}
