// BASE ---------------------------------------------------
.footer {
  background-color: $color-secondary-shade;

  color: $color-white;

  margin-top: 8rem;
}

.footer__container {
  width: 100%;
  max-width: 120rem;
  padding: 2.4rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: repeat(3, minmax(0, min-content)) 1fr;
  }

  @media only screen and (max-width: $bp-small) {
    row-gap: 3.2rem;
  }
}

// SITEMAP NAV -------------------------------------------
.footer__nav {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(3, minmax(0, min-content));
  }

  @media only screen and (max-width: $bp-small) {
    grid-column: 1 / span 5;
    grid-row: auto / span 1;
  }
}

.footer__sitemap {
  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 2.4rem;
  }
}

.footer__sitemap {
  &__header {
    font-size: $font-size-small;
    font-weight: 500;

    margin-bottom: 1.8rem;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;

      margin-bottom: 0.8rem;
      padding: 0.6rem 1.2rem;

      border-bottom: 1px solid $color-secondary;
    }

    &::after {
      @media only screen and (max-width: $bp-medium) {
        content: "\0002B";
        color: $color-secondary-lightest;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.8rem;

    @media only screen and (max-width: $bp-medium) {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.1s ease-out;

      padding: 0 1.2rem;
    }
  }

  &__item {
  }

  &__link {
    font-size: $font-size-tiny;

    &:link,
    &:visited {
      color: $color-white;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}

// SIGN UP -----------------------------------------------

// PAYMENTS ----------------------------------------------
.footer__payments {
  grid-column: -3 / span 2;
  justify-self: end;

  @media only screen and (max-width: $bp-small) {
    grid-column: 1 / span 5;
    grid-row: auto / span 1;
    justify-self: center;
  }
}

.footer__payments {
  &__list {
  }

  &__logo {
    width: 4rem;
    height: 4rem;

    padding: 0.6rem 0.6rem;
    background-color: $color-primary-tint;
    border-radius: 2px;
  }

  p {
    text-align: center;
    margin-bottom: 0.8rem;

    font-size: $font-size-smaller;
    text-transform: capitalize;
  }

  li {
    &:not(:last-child) {
      margin-right: 0.8rem;
    }
  }
}

.payments {
  &--paypal {
    fill: #00457c;
  }

  &--apple {
    // fill: ;
  }

  &--google {
    fill: #5f6368;
  }

  &--discover {
    fill: #ff6000;
  }

  &--mastercard {
    fill: #eb001b;
  }

  &--visa {
    fill: #142787;
  }
}

// SOCIAL ------------------------------------------------
.footer__social {
  grid-column: -3 / span 2;
  justify-self: end;
  align-self: center;

  margin: 3.2rem 0;

  @media only screen and (max-width: $bp-medium) {
    align-self: start;
  }

  @media only screen and (max-width: $bp-small) {
    grid-column: 1 / span 5;
    grid-row: auto / span 1;
    justify-self: center;
    margin: 0;
  }
}

.footer__social {
  &__list {
  }

  &__logo {
    width: 3.5rem;
    height: 3.5rem;
  }

  li {
    &:not(:last-child) {
      margin-right: 1.8rem;
    }
  }

  a {
    &:link,
    &:visited {
      fill: $color-grey-dark;
    }

    &:hover,
    &:active,
    &:focus {
      fill: $color-white;
    }
  }
}

// BOTTOM ------------------------------------------------
.footer__store {
  width: 100%;

  grid-column: -3 / span 2;

  text-align: right;
  font-size: $font-size-tiny;

  @media only screen and (max-width: $bp-small) {
    grid-column: 1 / span 5;
    grid-row: auto / span 1;
    justify-self: center;

    text-align: center;
  }

  p {
    &:first-child {
      grid-column: span 2;
    }
  }
}

.footer__copyright {
  grid-column: 1 / -1;

  margin-top: 1.2rem;
  padding-top: 1.2rem;
  border-top: 1px solid $color-primary-tint;

  text-align: center;
  font-size: $font-size-tiny;
}
