// SITEMAP NAV -------------------------------------------
.footer__sitemap {
}

.footer__sitemap {
  &__header {
  }

  &__list {
  }

  &__item {
  }

  &__link {
  }
}

// SIGN UP -----------------------------------------------

// PAYMENTS ----------------------------------------------
.footer__payments {
}

.footer__payments {
  &__list {
  }

  &__logo {
    width: 3em;
    height: 3em;
  }

  li {
  }
}

// SOCIAL ------------------------------------------------
.footer__social {
}

.footer__social {
  &__list {
  }

  &__logo {
    width: 3.5em;
    height: 3.5em;
  }

  li {
  }

  a {
  }
}

// BOTTOM ------------------------------------------------
.footer__store {
}

.footer__copyright {
}
