// BASE --------------------------------------------------------
.header {
  z-index: 1000;
  position: fixed;

  width: 100%;
  background-color: $color-secondary-lightest;
  box-shadow: $bax-shadow-medium-bottom;
}

.header__container {
  width: 100%;
  max-width: 120rem;
  padding: 0 2.4rem;

  align-items: flex-start;
  justify-content: space-between;

  @media only screen and (max-width: $bp-small) {
    align-items: center;
  }
}

// HEADER TOP PART ---------------------------------------------
.header__top {
  height: 100%;
  width: 100%;
  font-size: 1em;
}

.header__top__brand {
  align-items: center;
  margin-right: 9.6rem;

  @media only screen and (max-width: $bp-medium) {
    margin-right: 3.2rem;
  }
}

.header__top__text {
  padding: 1.8rem 0;
}

.header__top {
  //

  &__logo {
    margin-right: 6.4rem;

    @media only screen and (max-width: $bp-medium) {
      margin-right: 0;
    }

    img {
      height: 7rem;
      padding: 0.4rem 0;
    }
  }

  &__summary {
    display: inline-block;

    max-width: 25rem;

    text-align: center;
    font-size: 1.2em;
    color: $color-font-grey;

    @media only screen and (max-width: $bp-large) {
      display: none;
    }
  }

  &__search {
    width: 30rem;

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }
}

.header__top__user {
  margin-left: 6.4rem;

  font-size: $font-size-tiny;
  text-transform: uppercase;

  @media only screen and (max-width: $bp-medium) {
    margin-left: 1.2rem;
  }

  @media only screen and (max-width: $bp-small) {
    display: none;
  }

  a:link,
  a:visited {
  }

  a:hover,
  a:active {
    color: $color-secondary-shade;
    text-decoration: underline;
  }

  div {
    margin: 0 1.6rem;

    @media only screen and (max-width: $bp-medium) {
      margin: 0 1.2rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-weight: 600;
    }
  }
}

.header__user {
  &__cart,
  &__username {
  }
}

// HEADER NAVIGATION -------------------------------------------
.header__nav {
  width: 100%;
  font-size: 1em;

  background-color: $color-secondary-shade;

  @media only screen and (max-width: $bp-small) {
    padding: 0.15rem 0;
  }

  &__list {
    width: 100%;
    transition: all 0.1s;

    @media only screen and (max-width: $bp-small) {
      position: absolute;
      border-top: 1px solid $color-primary-tint;
      align-content: start;

      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;

      background-color: $color-secondary-shade;

      grid-template-columns: 1fr;

      transform-origin: top;
      transform: translateY(100%) scaleY(0);

      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  &__item {
  }

  &__link {
    height: 100%;
    padding: 0.6rem 1.2rem;
    font-size: $font-size-tiny;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-small) {
      padding: 2.4rem 0;
    }

    &:link,
    &:visited {
      color: $color-font-light;
    }

    &:hover,
    &:active {
      color: $color-font-dark;
      background-color: $color-primary-shade;
    }
  }
}

.nav__have-subnav {
  &::after {
    display: inline-block;
    content: "\02228";
    font-size: 0.8em;

    margin-left: 0.5rem;

    transition: color 0.1s;

    @media only screen and (max-width: $bp-small) {
      content: "\0003E";
      margin-left: 1rem;
      font-size: 1.4rem;
    }
  }
}

// ----- TEXT BOTTOM ---
.header__nav__text {
  display: none;
  padding: 0.8rem 0;
  width: 100%;

  @media only screen and (max-width: $bp-small) {
    display: flex;
    justify-content: space-between;
  }
}

.header__nav {
  &__search {
    width: 30rem;
  }

  &__user {
    font-size: $font-size-tiny;
    text-transform: uppercase;

    margin-left: 1.2rem;

    a:link,
    a:visited {
      color: $color-font-light;
    }

    a:hover,
    a:active {
      color: $color-secondary-shade;
      text-decoration: underline;
    }

    div {
      color: $color-font-light;
      margin: 0 1.2rem;
      font-weight: 600;
    }
  }
}

// HEADER SUB NAVIGATION ---------------------------------------
.header__subnav {
  opacity: 0;
  visibility: hidden;

  height: 100%;

  position: absolute;
  left: 0;

  width: 100%;
  overflow: hidden;

  background-color: $color-primary;
  box-shadow: $bax-shadow-medium-bottom;

  transition: all 0.2s;

  @media only screen and (max-width: $bp-small) {
    position: fixed;
    top: 0;
    left: 0;

    overflow-y: auto;
    overflow-x: hidden;

    opacity: 1;
    visibility: visible;

    transform: translateX(105vw);
  }
}

.header__subnav__container {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.6s ease-out;

  min-width: 48rem;
  max-width: 114rem;

  overflow: auto;

  @media only screen and (max-width: $bp-small) {
    opacity: 1;
    visibility: visible;

    min-width: auto;
    width: 100%;

    padding: 1.2rem 2.4rem;

    flex-direction: column;
  }
}

.header__subnav__back {
  display: none;

  @media only screen and (max-width: $bp-small) {
    display: block;

    height: 4rem;
    width: 4rem;
  }
}

.header__subnav__main {
  flex-wrap: wrap;

  padding: 0.4rem 1.2rem;
  margin: 1.8rem 0 0;

  @media only screen and (max-width: $bp-small) {
    align-items: stretch;
    width: 100%;
  }
}

.header__subnav {
  //

  &__nav {
    margin: 0 8rem 3.6rem 0;
    padding-left: 1.5rem;
    border-left: 1px solid $color-secondary-shade;

    &:last-child {
      margin-right: 0;
    }

    @media only screen and (max-width: $bp-medium) {
      margin: 0 4.8rem 3.6rem 0;
    }

    @media only screen and (max-width: $bp-small) {
      margin: 0 0 4.8rem 0;
      padding: 0;
      border-left: none;
      width: 100%;
    }
  }

  &__title {
    text-transform: uppercase;

    font-size: $font-size-smaller;
    font-weight: 500;

    margin-bottom: 1.8rem;

    @media only screen and (max-width: $bp-small) {
      font-size: $font-size-small;
    }
  }

  &__list {
    margin-bottom: 0.3rem;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__link {
    font-size: $font-size-tiny;
    @media only screen and (max-width: $bp-small) {
      font-size: $font-size-smaller;
    }

    &:link,
    &:visited {
      color: $color-font-grey-dark;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  &__more {
    display: inline-block;
    margin-top: 0.5rem;

    &:link,
    &:visited {
      color: $color-font-grey;
    }

    &:hover,
    &:active {
      color: $color-font-grey-dark;
      text-decoration: none;
    }
  }
}

.header__subnav__img {
  margin-left: 9.6rem;

  @media only screen and (max-width: $bp-small) {
    display: none;
  }

  img {
    height: 25rem;
  }
}

// ----- MOBILE NAVIGATIONS -----
.header__nav-small {
  cursor: pointer;
  background-color: transparent;

  display: none;
  flex-direction: row;
  align-items: center;

  height: 4.5rem;
  width: 4.5rem;
  margin-left: 4.8rem;
  padding: 0.4rem;

  border-radius: 2px;
  border: 1px solid $color-font-grey-light;

  @media only screen and (max-width: $bp-small) {
    display: flex;
  }

  &:active {
    background-color: $color-grey-light;

    .nav-small__logo {
      color: $color-font-grey-dark;
    }
  }
}

.nav-small__logo {
  height: 3px;
  width: 100%;
  position: relative;
  color: $color-font-grey;

  background-color: currentColor;

  &::before,
  &::after {
    content: " ";

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    height: 3px;
    width: 100%;
    background-color: currentColor;
  }

  &::before {
    transform: translateY(-0.9rem);
  }

  &::after {
    transform: translateY(0.9rem);
  }
}

.header__nav__list.mobile__nav-open {
  transform: translateY(100%) scaleY(1);
}

// FUNCTIONALITY --------------------------------------------------
.active-subnav {
}

.active-subnav {
  ~ .header__subnav {
    transform: translateX(0);
  }
}

.subnav-open {
  &:link,
  &:visited {
    color: $color-font-dark !important;
    background-color: $color-primary-shade !important;
  }

  ~ .header__subnav {
    opacity: 1;
    visibility: visible;

    .header__subnav__container {
      opacity: 1;
      visibility: visible;
    }
  }
}

.header-reactive--height {
  height: 75vh;
}
