// BASE --------------------------------------------------------
.header {
  z-index: 1000;
  position: fixed;

  width: 100%;
  background-color: $color-secondary-lightest;
  box-shadow: $bax-shadow-medium-bottom;
}

.header__container {
  width: 100%;
  max-width: 120rem;
  padding: 0 2.4rem;

  align-items: flex-start;
  justify-content: space-between;
}

// HEADER TOP PART ---------------------------------------------
.header__top {
  height: 100%;
  width: 100%;
  font-size: 1em;
}

.header__top__brand {
  align-items: center;
  margin-right: 9.6rem;
}

.header__top__text {
  padding: 1.8rem 0;
}

.header__top {
  //

  &__logo {
    margin-right: 6.4rem;

    img {
      height: 7rem;
      padding: 0.4rem 0;
    }
  }

  &__summary {
    display: inline-block;

    max-width: 25rem;

    text-align: center;
    font-size: 1.2em;
    color: $color-font-grey;
  }

  &__search {
    width: 30rem;
  }
}

.header__top__user {
  margin-left: 6.4rem;

  font-size: $font-size-tiny;
  text-transform: uppercase;

  a:link,
  a:visited {
  }

  a:hover,
  a:active {
    color: $color-secondary-shade;
    text-decoration: underline;
  }

  div {
    margin: 0 1.6rem;
  }
}

.header__user {
  &__cart {
  }

  &__username {
  }
}

// HEADER NAVIGATION -------------------------------------------
.header__nav {
  width: 100%;
  font-size: 1em;

  background-color: $color-secondary-shade;

  &__list {
    width: 100%;
  }

  &__item {
    // &:not(:last-child) {
    //   margin-right: 1.2rem;
    // }
  }

  &__link {
    height: 100%;
    padding: 0.6rem 1.2rem;
    font-size: $font-size-tiny;

    display: flex;
    align-items: center;
    justify-content: center;

    &:link,
    &:visited {
      color: $color-font-light;
    }

    &:hover,
    &:active {
      color: $color-font-dark;
      background-color: $color-primary-shade;
    }
  }
}

.nav__have-subnav {
  &::after {
    display: inline-block;
    content: "\02228";
    font-size: 0.8em;

    margin-left: 0.5rem;

    transition: color 0.1s;
  }

  // &:hover ~ .header__subnav {
  //   opacity: 1;
  //   visibility: visible;
  // }

  // &:hover ~ .header__subnav .header__subnav__container {
  //   opacity: 1;
  //   visibility: visible;
  // }
}

// HEADER SUB NAVIGATION ---------------------------------------
.header__subnav {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  left: 0;

  width: 100%;
  overflow: hidden;

  background-color: $color-primary;
  box-shadow: $bax-shadow-medium-bottom;

  // &:hover {
  //   opacity: 1;
  //   visibility: visible;
  // }

  // &:hover .header__subnav__container {
  //   opacity: 1;
  //   visibility: visible;
  // }
}

.header__subnav__container {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.6s ease-out;

  min-width: 48rem;
  max-width: 114rem;

  > p {
    display: none;
  }
}

.header__subnav__main {
  flex-wrap: wrap;

  padding: 0.4rem 1.2rem;
  margin: 1.8rem 0 3.6rem;
}

.header__subnav {
  //

  &__nav {
    margin-right: 8rem;
    padding-left: 1.5rem;
    border-left: 1px solid $color-secondary-shade;

    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    text-transform: uppercase;

    font-size: $font-size-smaller;
    font-weight: 500;

    margin-bottom: 1.8rem;
  }

  &__list {
    margin-bottom: 0.3rem;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__link {
    font-size: $font-size-tiny;

    &:link,
    &:visited {
      color: $color-font-grey-dark;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  &__more {
    display: inline-block;
    margin-top: 0.5rem;

    &:link,
    &:visited {
      color: $color-font-grey;
    }

    &:hover,
    &:active {
      color: $color-font-grey-dark;
      text-decoration: none;
    }
  }
}

.header__subnav__img {
  margin-left: 9.6rem;

  img {
    height: 25rem;
  }
}

// FUNCTIONALITY --------------------------------------------------
.active-subnav {
}

.active-subnav {
  ~ .header__subnav {
  }
}

.subnav-open {
  &:link,
  &:visited {
    color: $color-font-dark !important;
    background-color: $color-primary-shade !important;
  }

  ~ .header__subnav {
    opacity: 1;
    visibility: visible;

    .header__subnav__container {
      opacity: 1;
      visibility: visible;
    }
  }
}
