// SECTION WRAPPER -------------------------------------
.popular__wrapper {
  padding: 1.2rem 0 0 0;
  border-bottom: 2px solid $color-secondary;

  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-color: $color-primary-tint;
}

// CONTAINER -------------------------------------------
.popular__container {
  column-gap: 2.4rem;
  align-items: end;
  padding: 0 4.8rem;

  @media only screen and (max-width: $bp-large) {
    column-gap: 0;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 0 1.8rem;

    grid-template-columns: 40fr 30fr 30fr;
  }
}

.popular__header {
  &--arrangements {
  }

  &--flowers {
    margin-top: 1.2rem;

    color: $color-secondary-shade;
    text-shadow: -1px 0 0 $color-secondary-lightest,
      1px 0 0 $color-secondary-lightest, 0 -1px 0 $color-secondary-lightest,
      0 1px 0 $color-secondary-lightest, -1px -1px 0 $color-secondary-lightest,
      -1px 1px 0 $color-secondary-lightest, 1px -1px 0 $color-secondary-lightest,
      1px 1px 0 $color-secondary-lightest;
  }
}

// CONTENT ---------------------------------------------
// NOTE: This is just a PLACEHOLDER. Delete later for real data will be fetched from database
.catalogue__popular--card {
  &:nth-child(n + 9) {
    display: none;

    @media only screen and (max-width: $bp-medium) {
      display: block;
    }
  }
}

.popular__arrangement {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;

  padding-left: 4.8rem;
  padding-bottom: 2.4rem;
}

.popular__flower {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;

  background-color: $color-secondary-tint;
  background-image: url("../media/img/pop-img.jpg");
}

.popular__more {
  grid-column: 1 / -1;
  justify-self: center;

  &--arrangements {
  }

  &--flowers {
    margin: 2.4rem 0;
  }
}
