// CONTAINER ----------------------------------------------------
.review__title {
  @media only screen and (max-width: $bp-small) {
    text-align: center;
  }
}

.review__container {
  column-gap: 2.4rem;
  margin-top: 3.2rem;

  grid-template-columns: 31fr repeat(3, 23fr);

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(0, min-content);
    column-gap: 3.6rem;
  }

  @media only screen and (max-width: $bp-small) {
    column-gap: 2.4rem;
  }

  @media only screen and (max-width: $bp-smaller) {
    grid-template-columns: 1fr !important;
    // grid-template-rows: repeat(auto-fit, minmax(0, min-content));
  }

  // PRODUCT REVIEW TITLE -------------------------------
  h2 {
    margin-bottom: 1.8rem;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 3.2rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 1.2rem;
    }

    @media only screen and (max-width: $bp-smaller) {
      text-align: center;
      margin-bottom: 3.2rem;
    }
  }
}

// SHOP LEFT ----------------------------------------------------
.review__shop {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  padding: 0 3.2rem;

  margin-right: 2.4rem;
  border-right: 1px solid $color-secondary-tint;

  text-align: center;

  @media only screen and (max-width: $bp-large) {
    padding: 0 1.8rem 0 0;
    margin-right: 0.8rem;
  }

  @media only screen and (max-width: $bp-medium) {
    margin: 0;
    border-right: none;
  }

  @media only screen and (max-width: $bp-smaller) {
    grid-column: 1 / span 1;
    margin-bottom: 6.4rem;
  }
}

.review__shop {
  &__card {
    background-color: $color-white;

    padding: 2.4rem;
    margin-bottom: 2.4rem;

    border-radius: 2px;
    box-shadow: $box-shadow-solid-bottom;

    @media only screen and (max-width: $bp-large) {
      padding: 1.8rem;
    }
  }

  &__point {
    font-size: $font-size-huge;
    font-weight: 500;
  }

  &__star {
    padding-bottom: 0.8rem;
    border-bottom: 1px solid $color-secondary;

    svg {
      width: 2.25rem;
      height: 2.25rem;

      fill: $color-font-complement;
    }
  }

  &__description {
    margin-top: 1.8rem;

    font-size: $font-size-tiny;

    color: $color-font-grey;
    text-align: center;
  }
}

.review__shop__more {
}

// PRODUCT RIGHT -----------------------------------------------

.review__product__review {
  grid-row: 2 / span 1;

  position: relative;
  z-index: 1;

  @media only screen and (max-width: $bp-medium) {
    grid-row: 3 / span 1;
    justify-content: flex-start;
    height: 100%;
  }

  @media only screen and (max-width: $bp-small) {
    justify-content: space-between;
  }

  @media only screen and (max-width: $bp-smaller) {
    grid-column: 1 / span 1;
    grid-row: auto;
    justify-content: flex-start;
    margin-bottom: 4.8rem;
    padding-bottom: 0.2rem;
    height: auto;

    border-bottom: 1px solid $color-secondary;
  }

  // GRID ITEMS SELECTOR -----------------------------
  &:not(:last-child) {
    margin-right: 1.2rem;

    @media only screen and (max-width: $bp-large) {
      margin-right: 0.8rem;
    }
  }

  &:nth-child(3) {
    @media only screen and (max-width: $bp-medium) {
      grid-row: 2 / span 1;
      padding-bottom: 4.8rem;
    }

    @media only screen and (max-width: $bp-smaller) {
      grid-row: auto;
      padding-bottom: 0.2rem;
    }
  }

  // PSEUDOCLASS QUOTE --------------------------------
  &::before {
    content: "";
    background-image: url(../media/icon/i-quot.png);
    background-repeat: no-repeat;
    background-size: 5rem 5rem;
    background-position: top right;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
    opacity: 0.4;

    transform: translate(0, -0.5rem);
  }

  figcaption {
    grid-template-columns: max-content 1fr;

    margin-top: 1.8rem;
    font-size: $font-size-tiniest;
  }
}

.review__product {
  &__quote {
    font-size: $font-size-tiny;
    color: $color-font-grey-dark;
  }

  &__img {
    grid-row: span 3;

    width: 7rem;
    height: 7rem;

    object-fit: cover;
    margin-right: 1.2rem;
  }

  &__reviewer {
    font-size: $font-size-tiny;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.4rem;
  }

  &__name {
    font-size: $font-size-tiniest;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:link,
    &:visited {
      color: $color-secondary-shade;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  &__date {
    color: $color-font-grey;
  }
}
