// SALE CATEGORY CONTAINER (1 ROW) ---------------------------------
.sale__category {
  position: relative;
  column-gap: 4.8rem;
  padding: 4.8rem 0 1.2rem;

  border-top-left-radius: 1px;
  border-top-right-radius: 1px;

  background-color: $color-primary-tint;

  &--1 {
    border-bottom: 1px solid $color-sale-1;

    .sale__title {
      background-image: none;
      color: $color-font-sale-1;

      @supports (background-clip: text) or (-webkit-background-clip: text) {
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        background-image: linear-gradient(
          to left,
          $color-sale-1,
          $color-sale-1-grad
        );
      }
    }

    .sale__more {
      &:link,
      &:visited {
        color: $color-sale-1;
        background-color: $color-secondary-lightest;
        border: 2px solid $color-sale-1;
      }

      &:focus,
      &:hover,
      &:active {
        color: $color-secondary-lightest;
        background-color: $color-sale-1;
        border: 2px solid $color-secondary-lightest;
      }
    }
  }

  &--2 {
    border-bottom: 1px solid $color-sale-2;

    .sale__title {
      background-image: none;
      color: $color-font-sale-2;

      @supports (background-clip: text) or (-webkit-background-clip: text) {
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        background-image: linear-gradient(
          to left,
          $color-sale-2,
          $color-sale-2-grad
        );
      }
    }

    .sale__more {
      &:link,
      &:visited {
        color: $color-sale-2;
        background-color: $color-secondary-lightest;
        border: 2px solid $color-sale-2;
      }

      &:focus,
      &:hover,
      &:active {
        color: $color-secondary-lightest;
        background-color: $color-sale-2;
        border: 2px solid $color-secondary-lightest;
      }
    }
  }

  &--3 {
    border-bottom: 1px solid $color-sale-3;

    .sale__title {
      background-image: none;
      color: $color-font-sale-3;

      @supports (background-clip: text) or (-webkit-background-clip: text) {
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        background-image: linear-gradient(
          to left,
          $color-sale-3,
          $color-sale-3-grad
        );
      }
    }

    .sale__more {
      &:link,
      &:visited {
        color: $color-sale-3;
        background-color: $color-secondary-lightest;
        border: 2px solid $color-sale-3;
      }

      &:focus,
      &:hover,
      &:active {
        color: $color-secondary-lightest;
        background-color: $color-sale-3;
        border: 2px solid $color-secondary-lightest;
      }
    }
  }
}

.sale__container {
  row-gap: 3.2rem;
}

// MAIN SALE ITEMS GRID -----------------------------------------
.sale__catalogue {
  grid-row: 1 / span 1;
  align-self: center;

  padding: 1.2rem 3.2rem 0;

  grid-column: 1 / span 5;

  &--left {
    // grid-column: 1 / span 5;
  }

  &--right {
    grid-column: -6 / span 5;
  }
}

// IMAGE CONTAINER ---------------------------------------------
.sale {
  //

  &__img {
    grid-row: 1 / span 1;
    width: 100%;

    grid-column: -3 / span 2;

    &--left {
      grid-column: 1 / span 2;
    }

    &--right {
      // grid-column: -3 / span 2;
    }
  }
}

// BOTTOM HEADER ------------------------------------------------

.sale__title {
  display: inline-block;
  padding-right: 0.04em;
  grid-row: 2 / span 1;

  justify-self: end;
  grid-column: -3 / span 2;

  &--left {
    justify-self: start;
    grid-column: 1 / span 2;
  }

  &--right {
    // justify-self: end;
    // grid-column: -3 / span 2;
  }
}

.sale__more {
  display: inline-block;

  grid-row: 2 / span 1;
  align-self: center;
  justify-self: center;

  grid-column: 1 / span 5;

  &--left {
    // grid-column: 1 / span 5;
  }

  &--right {
    grid-column: -6 / span 5;
  }
}
