// SALE CATEGORY CONTAINER (1 ROW) ---------------------------------
.sale__category {
  position: relative;
  column-gap: 8rem;
  padding: 1.6rem 0 0.8rem;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;

  &--1 {
    background-color: $color-sale-1-tint;
    border-bottom: 2px solid $color-sale-1;
    color: $color-font-sale-1;
  }

  &--2 {
    background-color: $color-sale-2-tint;
    border-bottom: 2px solid $color-sale-2;
    color: $color-font-sale-2;
  }

  &--3 {
    background-color: $color-sale-3-tint;
    border-bottom: 2px solid $color-sale-3;
    color: $color-font-sale-3;
  }
}

.sale__container {
  row-gap: 6.4rem;
}

// MAIN SALE ITEMS GRID -----------------------------------------
.sale__catalogue {
  grid-row: 1 / span 2;
  align-self: center;

  padding: 0 3.2rem;

  &--left {
    grid-column: 1 / span 5;
  }

  &--right {
    grid-column: -6 / span 5;
  }
}

// IMAGE CONTAINER ---------------------------------------------
.sale {
  //

  &__img {
    grid-row: 1 / span 1;
    width: 100%;

    &--left {
      grid-column: 1 / span 2;
    }

    &--right {
      grid-column: -3 / span 2;
    }
  }
}

// BOTTOM HEADER ------------------------------------------------

.sale__title {
  display: inline-block;
  grid-row: 2 / span 3;

  &--left {
    justify-self: start;
  }

  &--right {
    justify-self: end;
  }
}

.sale__subtitle {
  grid-row: 4 / span 1;
  justify-self: start;
  align-self: end;

  width: 100%;
  padding: 0 1.2rem;
  margin-top: 3.6rem;

  font-size: $font-size-tiniest;
  line-height: 1.3;

  &--left {
    grid-column: 1 / span 4;
    text-align: left;
  }

  &--right {
    grid-column: -5 / span 4;
    text-align: right;
  }
}

.sale__more {
  display: inline-block;
  position: absolute;
  top: 1.6rem;

  padding: 0.6rem 1.2rem;

  &--left {
  }

  &--right {
  }
}
