// COLORS ------------------------------------------------------
// MAIN COLORS ---------------------------
$color-primary-shade: #edf8bc;
$color-primary: #f2facf;
$color-primary-tint: #fafded;

$color-secondary-shade: #7291b3;
$color-secondary: #a6bacf;
$color-secondary-tint: #ccd7e3;

// GRAYSCALE COLORS ----------------------
$color-black: #000;
$color-white: #fff;

$color-grey-dark: #212529;
$color-grey-medium: #495057;
$color-grey-light: #dee2e6;

$color-font-dark: #3f3f3f;
$color-font-grey-dark: #5d5d5d;
$color-font-grey: #9a9a9a;
$color-font-grey-light: #cbcbcb;
$color-font-light: #ededed;

$color-font-active-primary: #54769c;
$color-font-complement: #ff5633;

// SPECIAL SALE SECTION COLORS ----------
$color-sale-1: #862e9c;
$color-sale-1-tint: #f3eaf5;
$color-sale-2: #b50000;
$color-sale-2-tint: #f8e6e6;
$color-sale-3: #999cc5;
$color-sale-3-tint: #f5f5f9;

$color-font-sale-1: #6a257b;
$color-font-sale-2: #990000;
$color-font-sale-3: #5a5fa1;

// SEASONAL COLORS ---------------------
$color-autumn: #c36a2d;
$color-winter: #c7cde3;
$color-spring: #862e9c;
$color-summer: #ffb319;

$color-font-autumn: #995224;
$color-font-autumn-tint: #f2d8c7;
$color-font-winter: #48578e;
$color-font-winter-tint: #e3e6f1;
$color-font-spring: #862e9c;
$color-font-spring-tint: #eed8f3;
$color-font-summer: #8c5e00;
$color-font-summer-tint: #ffe4af;

// FONTS -----------------------------------------------------
$font-title: "Inter", sans-serif;
$font-primary: "Heebo", sans-serif;
// $font-secondary: ;

$font-size-tiniest: 1.3em;
$font-size-tiny: 1.4em;
$font-size-smaller: 1.6em;
$font-size-small: 1.8em;
$font-size-medium: 2.4em;
$font-size-large: 3.6em;

// BREAKPOINTS -----------------------------------------------

// $bp-infinite:;
// $bp-larger:;
// $bp-large:;
// $bp-medium:;
// $bp-small:;
// $bp-smaller:;

// BOX SHADOW -----------------------------------------------
// BOX SHADOW SMALL ----------------------
$bax-shadow-small-bottom: rgba($color-grey-dark, 0.02) 0px 10px 15px -3px,
  rgba($color-grey-dark, 0.05) 0px 4px 6px -2px;
$box-shadow-small-top: rgba($color-grey-dark, 0.05) 0px -10px 15px -3px,
  rgba($color-grey-dark, 0.05) 0px -4px 6px -2px;

// BOX SHADOW MEDIUM ----------------------
$bax-shadow-medium-bottom: rgba($color-black, 0.15) 0px 10px 15px -3px,
  rgba($color-grey-dark, 0.05) 0px 4px 6px -2px;
