// COLORS ------------------------------------------------------
// MAIN COLORS ---------------------------
$color-primary-shade: #e5f59d;
$color-primary: #f5fbd9;
$color-primary-tint: #fafded;

$color-secondary-shade: #7291b3;
$color-secondary: #a6bacf;
$color-secondary-tint: #ccd7e3;

// GRAYSCALE COLORS ----------------------
$color-black: #000;
$color-white: #fff;

$color-grey-dark: #212529;
$color-grey-medium: #495057;
$color-grey-light: #dee2e6;

$color-font-dark: #303030;
$color-font-grey: #c2c2c2;
$color-font-light: #ededed;

// SPECIAL SALE SECTION COLORS ----------
$color-sale-1: #862e9c;
$color-sale-1-tint: #f3eaf5;
$color-sale-2: #b50000;
$color-sale-2-tint: #f8e6e6;
$color-sale-3: #999cc5;
$color-sale-3-tint: #f5f5f9;

$color-font-sale-1: #43174e;
$color-font-sale-2: #5b0000;
$color-font-sale-3: #4d4e63;

// SEASONAL COLORS ---------------------
$color-autumn: #c36a2d;
$color-winter: #c7cde3;
$color-spring: #862e9c;
$color-summer: #ffb319;

$color-font-autumn: #995224;
$color-font-autumn-tint: #e0a57d;
$color-font-winter: #48578e;
$color-font-winter-tint: #d0d5e8;
$color-font-spring: #6a257b;
$color-font-spring-tint: #daabe6;
$color-font-summer: #8c5e00;
$color-font-summer-tint: #ffd98c;

// FONTS -----------------------------------------------------

// $font-primary:;
// $font-secondary:;

// BREAKPOINTS -----------------------------------------------

// $bp-infinite:;
// $bp-larger:;
// $bp-large:;
// $bp-medium:;
// $bp-small:;
// $bp-smaller:;

// BOX SHADOW -----------------------------------------------
// BOX SHADOW SMALL ----------------------
$bax-shadow-small-bottom: rgba($color-grey-dark, 0.02) 0px 10px 15px -3px,
  rgba($color-grey-dark, 0.05) 0px 4px 6px -2px;
$box-shadow-small-top: rgba($color-grey-dark, 0.05) 0px -10px 15px -3px,
  rgba($color-grey-dark, 0.05) 0px -4px 6px -2px;

// BOX SHADOW MEDIUM ----------------------
$bax-shadow-medium-bottom: rgba($color-black, 0.15) 0px 10px 15px -3px,
  rgba($color-grey-dark, 0.05) 0px 4px 6px -2px;
