// COLORS
$color-primary: #eef9bf;
$color-primary-tint: #f5fbd9;

$color-secondary-shade: #7291b3;
$color-secondary: #a6bacf;
$color-secondary-tint: #ccd7e3;

$color-autumn: #c36a2d;
$color-winter: #c7cde3;
$color-spring: #862e9c;
$color-summer: #ffb319;

$color-sale-1: #862e9c;
$color-sale-1-tint: #f3eaf5;
$color-sale-2: #b50000;
$color-sale-2-tint: #f8e6e6;
$color-sale-3: #999cc5;
$color-sale-3-tint: #f5f5f9;

$color-black: #000;
$color-white: #fff;

$color-grey-dark: #212529;
$color-grey-medium: #495057;
$color-grey-light: #dee2e6;

$color-font-dark: #303030;
$color-font-grey: #c2c2c2;
$color-font-light: #ededed;

// FONTS

// $font-primary:;
// $font-secondary:;

$font-color-sale-1: #43174e;
$font-color-sale-2: #5b0000;
$font-color-sale-3: #4d4e63;

$font-color-autumn: #995224;
$font-color-autumn-tint: #de9d72;
$font-color-winter: #48578e;
$font-color-winter-tint: #d0d5e8;
$font-color-spring: #6a257b;
$font-color-spring-tint: #daabe6;
$font-color-summer: #8c5e00;
$font-color-summer-tint: #ffd98c;

// BREAKPOINTS

// $bp-infinite:;
// $bp-larger:;
// $bp-large:;
// $bp-medium:;
// $bp-small:;
// $bp-smaller:;

// BOX SHADOW
$bax-shadow-small-bottom: rgba($color-grey-dark, 0.02) 0px 10px 15px -3px,
  rgba($color-grey-dark, 0.05) 0px 4px 6px -2px;
$box-shadow-small-top: rgba($color-grey-dark, 0.05) 0px -10px 15px -3px,
  rgba($color-grey-dark, 0.05) 0px -4px 6px -2px;

$bax-shadow-medium-bottom: rgba($color-black, 0.15) 0px 10px 15px -3px,
  rgba($color-grey-dark, 0.05) 0px 4px 6px -2px;
